# ========================
# FRONTEND (Angular)
# ========================
/frontend/dist
/frontend/tmp
/frontend/out-tsc
/frontend/bazel-out
/frontend/node_modules
/frontend/npm-debug.log
/frontend/yarn-error.log
/frontend/.angular/cache
/frontend/.sass-cache/
frontend/.history/

# ========================
# BACKEND (Python)
# ========================
/backend/.venv/
# Python cache directories
backend/__pycache__/
backend/**/__pycache__/
backend/**/__cache__/
backend/**/*.pyc

/backend/.env
/backend/.env.local
/backend/data_processed

# ========================
# IDEs and editors
# ========================
.vscode/
.idea/
.project
.classpath
.settings/
*.sublime-workspace
*.launch

# ========================
# Miscellaneous
# ========================
*.log
.DS_Store
Thumbs.db
